<!doctype html>
<html lang="fr">
	<head>
	  <meta charset="utf-8">
	  <title><%= titre %></title>
	  <script src="/js/script.js"></script>
	  <link rel="stylesheet" href="/css/style.css">
	</head>
	
	<body>

		<!--<% tab.forEach(function(tab) { %>
			<p>Personne: <%= tab.name %> de niveau <%= tab.level %></p>
		<% }); %>-->