<% include ../partials/header %>

<h1>Choisissez un thème</h1>

<form action="/choix_theme" method="post">
	<button type="submit" name="theme" value="21">Sports</button>
	<button type="submit" name="theme" value="9">Culture générale</button>
	<button type="submit" name="theme" value="25">Arts</button>
	<button type="submit" name="theme" value="32">Aléatoire</button>
	<button type="submit" value="Valider" />
</form>

<% include ../partials/footer %>