<% include ../partials/header %>

<h1>Choisissez un thème</h1>

<form action="/choix_theme" method="post" id="form_theme">
	<input type="radio" name="theme" value="23">History<br>
	<input type="radio" name="theme" value="9">General Knowledge<br>
	<input type="radio" name="theme" value="22">Geography<br>
	<input type="radio" name="theme" value="0" disabled>Aléatoire
</form>

<button type="submit" form="form_theme" value="Submit">Valider</button>

<% include ../partials/footer %>